[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "2.2.2"
flask-migrate = "3.1.0"
flask-sqlalchemy = "3.0.3"
ipdb = "0.13.9"
Werkzeug = "2.2.2"
importlib-metadata = "6.0.0"
importlib-resources = "5.10.0"
Faker = "14.2.0"
sqlalchemy-serializer = "*"
flask-Bcrypt = "*"
flask-cors = "*"
boto3 = "*"


[dev-packages]

[requires]
python_version = "3.8"
