#logo {
  width: 150px;
  height: auto;
  position: relative;
  top: 0px;
  left: 0px;
}

#overview_container {
  width: 50%;
  margin: 0 auto;
  border: double red;
}

.profile_card {
  width: 250px;
  border: 1px solid red;
  border-radius: 15px;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 250px;
  padding: 5px;
  background-color: rgb(70, 57, 70);
  transition: transform 0.7s;
  /* Animation */
  perspective: 220px;
  cursor: pointer;
}

.preview_photo {
  width: 120pt;
  height: 120pt;
  border-radius: 50%;
}

.calendar-container {
  display: grid;
  grid-template-rows: auto auto;
  gap: 10px;
}

.calendar-header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.day-labels {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  font-weight: bold;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.calendar-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border: 1px solid #ccc;
}

.empty-cell {
  height: 40px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
}
